@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
}

body{
  height: 100vh;
  background: linear-gradient(110deg, rgb(14, 5, 53),rgb(195, 97, 16),rgb(89, 19, 72)) ;
  display: flex;
  align-items: center;
  justify-content: center;

}

.watch{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: 1200px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgb(9, 9, 11);

}

span{
  color: rgb(223, 225, 181);
}
 
.watch div{
  height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 160px;
  font-weight: bolder;
  color: #fff;
  background: rgba(5, 5, 5, .9);
  box-shadow: 5px 5px 15px rgba(5, 5, 5, .7);
  border-radius: 7px;

}

